<h1>Spring Boot Employees List</h1>
<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-12 col-md-8">
        <div class="main">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="aside">
                <h2>Thông tin</h2>
                <p class="lbl">Mã nhân viên</p>
                <input type="number" title="EmpId" placeholder="" disabled [(ngModel)]="emp.id">
                <p class="lbl">Họ tên nhân viên</p>
                <input type="text" title="EmpName" placeholder="Nhập họ tên vào đây" [(ngModel)]="emp.name">
                <p class="lbl">Giới tính nhân viên</p>
                <input type="radio" title="Gender" id="male" class="checkmark" checked="true" name="gender" value="1"
                  [(ngModel)]="emp.gender">
                <label for="male">Nam</label><br>
                <input type="radio" title="Gender" id="female" class="checkmark" name="gender" value="0"
                  [(ngModel)]="emp.gender">
                <label for="female">Nữ</label><br>
                <p class="lbl">Hệ số lương nhân viên</p>
                <input type="number" title="Salary" placeholder="Nhập hệ số lương" [(ngModel)]="emp.sal">
                <p class="lbl">Địa chỉ của nhân viên</p>
                <textarea title="Address" placeholder="Nhập địa chỉ vào đây" [(ngModel)]="emp.ad"></textarea>
                <p class="lbl">Vị trí công tác của nhân viên</p>
                <textarea title="Position" placeholder="Nhập vị trí chức danh vào đây" [(ngModel)]="emp.pos"></textarea>
                <p class="lbl">Ngày sinh nhân viên</p>
                <input type="date" title="Birthday" [(ngModel)]="emp.birth">
                <div class="controller">
                  <button type="button" class="btn btn-success" id="btnAdd" title="none" (click)="add(emp)">Thêm
                    mới</button>
                  <button type="button" class="btn btn-primary" id="btnUpdate" title="none"
                    (click)="update(emp)">Lưu</button>
                  <button type="button" class="btn btn-danger" id="btnDelete" title="none"
                    (click)="remove(emp.id)">Xóa</button>
                  <button type="button" class="btn btn-warning" id="btnReload" title="none" (click)="load()">Tải
                    lại</button>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="content">
                <div class="list">
                  <h2>Danh sách nhân viên</h2>
                  <table [cellPadding]="3" [cellSpacing]="2">
                    <tr>
                      <th>Mã nhân viên</th>
                      <th>Họ và tên</th>
                      <th>Ngày sinh</th>
                      <th>Giới tính</th>
                      <th>Địa chỉ</th>
                      <th>Vị trí</th>
                      <th>Hệ số lương</th>
                    </tr>
                    <tr *ngFor="let emp of employees" (click)="loadDetail(emp.id)">
                      <td>{{emp.id}}</td>
                      <td>{{emp.name}}</td>
                      <td>{{emp.birth|date}}</td>
                      <td>
                        {{emp.gender==1?'Nam':'Nữ'}}
                      </td>
                      <td>{{emp.ad}}</td>
                      <td>{{emp.pos}}</td>
                      <td>{{emp.sal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
